{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Active Calls"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/activeCalls/list":{
          "get":{
             "tags":[
                "ActiveCalls"
             ],
             "summary":"Returns a listing of current active calls for a given product on an account",
             "operationId":"getActiveCalls",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Campaign"
                            }
                         }
                      }
                   }
                },
                "500":{
                    "description":"Server Error",
                    "content":{
                       "application/json":{
                          "schema":{
                             "$ref":"#/components/schemas/Error"
                          }
                       }
                    }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "Error":{
            "properties":{
                "generalMessage":{
                    "type":"string"
                 },
                 "details":{
                    "type":"string"
                 },
                 "requestUri":{
                    "type":"string"
                 },
                "timestamp":{
                   "type":"integer",
                   "format":"int64"
                }
             }
          },
          "ReferenceObject":{
             "properties":{
                "id":{
                   "type":"integer",
                   "format":"int64"
                },
                "description":{
                   "type":"string"
                }
             }
          },
          "Campaign":{
             "properties":{
                "campaignId":{
                   "type":"integer",
                   "format":"int64"
                },
                "permissions":{
                   "type":"array",
                   "items":{
                      "type":"object"
                   }
                },
                "campaignName":{
                   "type":"string"
                },
                "campaignDesc":{
                   "type":"string"
                },
                "isActive":{
                   "type":"integer",
                   "format":"int64"
                },
                "dialGroup":{
                   "$ref":"#/components/schemas/ReferenceObject"
                },
                "script":{
                   "$ref":"#/components/schemas/ReferenceObject"
                }
             }
          }
       }
    }
 }