openapi: 3.0.1
info:
  description: <p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click "Try it out!"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href="https://github.com/ringcentral" target="_blank">RingCentral SDKs on Github</a></li><li><a href="mailto:devsupport@ringcentral.com">RingCentral Developer Support Email</a></li></ul>
  termsOfService: https://developer.ringcentral.com
  title: RingCentral Connect Platform API Explorer
  version: "1.0"
servers:
- url: https://platform.devtest.ringcentral.com/
security:
- OAuth2: []
tags:
- description: ' '
  name: Overview
- description: ' '
  name: OAuth 2.0 Authentication & Authorization
- description: ' '
  name: API Info
- description: ' '
  name: Call Log
- description: ' '
  name: Phone Numbers
- description: ' '
  name: Messages
- description: ' '
  name: RingOut
- description: ' '
  name: User Contacts
- description: ' '
  name: Company Contacts
- description: ' '
  name: Presence
- description: ' '
  name: Glip
- description: ' '
  name: Meetings
- description: ' '
  name: Push Notifications
- description: ' '
  name: Roles and Permissions
- description: ' '
  name: Call Handling Settings
- description: ' '
  name: Application Settings
- description: ' '
  name: User Settings
- description: ' '
  name: Company Settings
- description: ' '
  name: Regional Settings
- description: ' '
  name: Account Provisioning
- description: ' '
  name: SCIM
- description: ' '
  name: Reporting
paths:
  /restapi:
    get:
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getAPIVersion
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionsResponse'
          description: Success
      summary: Get API Versions
      tags:
      - API Info
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Public
  /restapi/{apiVersion}:
    get:
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getVersionInfo
      parameters:
      - description: API version to be requested, for example 'v1.0'
        in: path
        name: apiVersion
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse'
          description: Success
      summary: Get Version Info
      tags:
      - API Info
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Public
  /restapi/v1.0/status:
    get:
      description: <p style='font-style:italic;'>Since 1.0.27 (Release 8.3)</p><p>Returns the API status; status '200' means the API is working fine, and '503' means it is temporary unavailable.</p><h4>API Group</h4><p>Light</p>
      operationId: loadAPIStatus
      responses:
        default:
          content: {}
          description: Success
      summary: Get Status
      tags:
      - API Info
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log:
    delete:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditCallLog</td><td>Viewing and updating user call logs</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: deleteExtensionCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: The end datetime for records deletion in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          type: string
      - in: query
        name: phoneNumber
        schema:
          type: string
      - in: query
        name: extensionNumber
        schema:
          type: string
      - explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Call Log Records by Filter
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: EditCallLog
      x-access-level: Advanced
    get:
      description: <p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: loadExtensionCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter
        in: query
        name: extensionNumber
        schema:
          type: string
      - description: If 'True' then calls from/to blocked numbers are returned. The default value is 'True'
        in: query
        name: showBlocked
        schema:
          type: boolean
      - description: Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter
        in: query
        name: phoneNumber
        schema:
          type: string
      - description: The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - in: query
        name: sessionId
        schema:
          type: string
      - description: Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          enum:
          - Voice
          - Fax
          items:
            type: string
          type: array
        style: form
      - description: Call transport type. 'PSTN' specifies that a call leg is initiated from the PSTN network provider; 'VoIP' - from an RC phone. By default this filter is disabled
        explode: true
        in: query
        name: transport
        schema:
          enum:
          - PSTN
          - VoIP
          items:
            type: string
          type: array
        style: form
      - description: The default value is 'Simple' for both account and extension call log
        explode: true
        in: query
        name: view
        schema:
          enum:
          - Simple
          - Detailed
          items:
            type: string
          type: array
        style: form
      - description: '''True'' if only recorded calls have to be returned'
        in: query
        name: withRecording
        schema:
          type: boolean
      - description: The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionCallLogResponse'
          description: Success
      summary: Get Call Log Records by Filter
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync:
    get:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: syncExtensionCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Type of synchronization. 'FSync' is a default value
        explode: true
        in: query
        name: syncType
        schema:
          enum:
          - FSync
          - ISync
          items:
            type: string
          type: array
        style: form
      - description: Value of syncToken property of last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is the current moment
        in: query
        name: dateFrom
        schema:
          type: string
      - description: ForT?FSync the parameter is mandatory, it limits the number of records to be returned in response. For ISync it specifies with how many records to extend sync Frame to the past, the maximum number of records is 250
        in: query
        name: recordCount
        schema:
          type: integer
      - description: Type of calls to be returned. The default value is 'All'
        explode: true
        in: query
        name: statusGroup
        schema:
          enum:
          - Missed
          - All
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogSync'
          description: Success
      summary: Call Log Synchronization
      tags:
      - Call Log
      x-api-group: extension/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}:
    get:
      operationId: getCallRecords
      parameters:
      - explode: false
        in: path
        name: callRecordId
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - in: query
        name: view
        schema:
          enum:
          - Simple
          - Detailed
          type: string
      - in: path
        name: extensionId
        required: true
        schema:
          type: string
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCallLogRecord'
          description: successful operation
      summary: Get Call Records by ID
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls:
    get:
      description: <p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: listExtensionActiveCalls
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - description: Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          enum:
          - Voice
          - Fax
          items:
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionActiveCallsResponse'
          description: Success
      summary: Get User Active Calls
      tags:
      - Call Log
      x-api-group: extension/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/call-log:
    delete:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditCallLog</td><td>Viewing and updating user call logs</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: deleteAccountCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: The end datetime for records deletion in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          type: string
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Call Log Records by Filter
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Internal
    get:
      description: <p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: loadAccountCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter
        in: query
        name: extensionNumber
        schema:
          type: string
      - description: Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter
        in: query
        name: phoneNumber
        schema:
          type: string
      - description: The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - description: Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          enum:
          - Voice
          - Fax
          items:
            type: string
          type: array
        style: form
      - description: The default value is 'Simple' for both account and extension call log
        explode: true
        in: query
        name: view
        schema:
          enum:
          - Simple
          - Detailed
          items:
            type: string
          type: array
        style: form
      - description: '''True'' if only recorded calls have to be returned'
        in: query
        name: withRecording
        schema:
          type: boolean
      - description: The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: Indicates the page number to retrieve. Only positive number values are allowed. The default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default.
        in: query
        name: perPage
        schema:
          type: integer
      - in: query
        name: sessionId
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCallLogResponse'
          description: Success
      summary: Get Call Log Records by Filter
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/call-log-sync:
    get:
      operationId: syncAccountCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Type of synchronization. 'FSync' is a default value
        explode: true
        in: query
        name: syncType
        schema:
          enum:
          - FSync
          - ISync
          items:
            type: string
          type: array
        style: form
      - description: Value of syncToken property of last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is the current moment
        in: query
        name: dateFrom
        schema:
          type: string
      - description: ForT?FSync the parameter is mandatory, it limits the number of records to be returned in response. For ISync it specifies with how many records to extend sync Frame to the past, the maximum number of records is 250
        in: query
        name: recordCount
        schema:
          type: integer
      - description: Type of calls to be returned. The default value is 'All'
        explode: true
        in: query
        name: statusGroup
        schema:
          enum:
          - Missed
          - All
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content: {}
          description: Success
      summary: Call Log Synchronization
      tags:
      - Call Log
      x-api-group: account/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Internal
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    delete:
      operationId: deleteAccountCallLogRecord
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a call log record
        in: path
        name: callRecordId
        required: true
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Account Call Log Record(s) by ID
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: FullCompanyCallLog
    get:
      description: <p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record(s) by ID(s). Batch request is supported, see Batch Requests for details.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: loadAccountCallLogRecord
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a call log record
        in: path
        name: callRecordId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountCallLogRecordResponse'
          description: Success
      summary: Get Account Call Log Record(s) by ID
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      description: <p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all calls that are in progress, ordered by start time in descending order</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: listCompanyActiveCalls
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - description: Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          enum:
          - Voice
          - Fax
          items:
            type: string
          type: array
        style: form
      - description: Call transport type. 'PSTN' specifies that a call leg is initiated from the PSTN network provider; 'VoIP' - from an RC phone. By default this filter is disabled
        explode: true
        in: query
        name: transport
        schema:
          enum:
          - PSTN
          - VoIP
          items:
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionActiveCallsResponse'
          description: Success
      summary: Get User Active Calls
      tags:
      - Call Log
      x-api-group: company/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/recording/{recordingId}:
    get:
      description: <p style='font-style:italic;'>Since 1.0.18 (Release 6.5)</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: listCallRecordings
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a recording (returned in Call Log)
        in: path
        name: recordingId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallRecordingResponse'
          description: Success
      summary: Get Call Recordings
      tags:
      - Call Log
      x-api-group: account/recordings
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      description: <p style='font-style:italic;'>Since 1.0.16 (Release 7.1)</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: listCallRecordingData
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a recording (returned in Call Log)
        in: path
        name: recordingId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Binary'
          description: Success
      summary: Get Call Recordings Data
      tags:
      - Call Log
      x-api-group: account/recordings
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/phone-number:
    get:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers that are used by a particular extension, and can be filtered by the phone number type. The returned list contains all numbers which are directly mapped to a given extension plus the features and also company-level numbers which may be used when performing different operations on behalf of this extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: listExtensionPhoneNumbers
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Usage type of the phone number
        explode: true
        in: query
        name: usageType
        schema:
          enum:
          - MainCompanyNumber
          - AdditionalCompanyNumber
          - CompanyNumber
          - DirectNumber
          - CompanyFaxNumber
          - ForwardedNumber
          items:
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExtensionPhoneNumbersResponse'
          description: Success
      summary: Get Extension Phone Number List
      tags:
      - Phone Numbers
      x-api-group: extension/phone-number
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserPhoneNumbers
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message. Sending SMS messages simultaneously to different recipients is limited up to 50 requests per minute; relevant for all client applications.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: sendSMS
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSMSMessage'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponseIntId'
          description: Success
      summary: Create SMS Message
      tags:
      - Messages
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: sendInternalMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePagerMessageRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: Success
      summary: Create Pager Message
      tags:
      - Messages
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: sendFaxMessage
      parameters:
      - description: Internal identifier of a RingCentral account (integer) or tilde (~) to indicate the account which was logged-in within the current session.
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension (integer) or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                to:
                  description: To Phone Number
                  items:
                    type: string
                  type: array
                attachment:
                  description: File to upload
                  format: binary
                  type: string
                faxResolution:
                  description: Resolution of Fax
                  enum:
                  - High
                  - Low
                  type: string
                sendTime:
                  description: Optional. Timestamp to send fax at. If not specified (current or the past), the fax is sent immediately
                  format: date-time
                  type: string
                isoCode:
                  description: ISO Code. e.g UK
                  type: string
                coverIndex:
                  description: Cover page identifier. For the list of available cover page identifiers please call the method Fax Cover Pages. If not specified, the default cover page which is configured in 'Outbound Fax Settings' is attached
                  type: integer
                coverPageText:
                  description: Cover page text, entered by the fax sender and printed on the cover page. Maximum length is limited to 1024 symbols
                  type: string
              required:
              - to
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxResponse'
          description: successful operation
      summary: Create Fax Message
      tags:
      - Messages
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-access-level: Public
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      operationId: getFaxCoverPages
      parameters:
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: successful operation
      summary: Get Fax Cover Pages
      tags:
      - Messages
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    delete:
      operationId: deleteMessagesByFilter
      parameters:
      - explode: true
        in: query
        name: conversationId
        schema:
          items:
            type: string
          type: array
        style: form
      - in: path
        name: extensionId
        required: true
        schema:
          type: string
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      summary: Delete Conversations by ID's
      tags:
      - Messages
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Public
    get:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: listMessages
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are accepted
        explode: true
        in: query
        name: availability
        schema:
          enum:
          - Alive
          - Deleted
          - Purged
          items:
            type: string
          type: array
        style: form
      - description: Specifies the conversation identifier for the resulting messages
        in: query
        name: conversationId
        schema:
          type: integer
      - description: The start datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: The end datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - description: If 'True', then the latest messages per every conversation ID are returned
        in: query
        name: distinctConversations
        schema:
          type: boolean
      - description: The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are accepted
        explode: true
        in: query
        name: messageType
        schema:
          enum:
          - Fax
          - SMS
          - VoiceMail
          - Pager
          - Text
          items:
            type: string
          type: array
        style: form
      - description: The read status for the resulting messages. Multiple values are accepted
        explode: true
        in: query
        name: readStatus
        schema:
          enum:
          - Read
          - Unread
          items:
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      - description: The phone number. If specified, messages are returned for this particular phone number only
        in: query
        name: phoneNumber
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageList'
          description: Success
      summary: Get Message List
      tags:
      - Messages
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    delete:
      description: <p style='font-style:italic;'></p><p>Deletes message(s) by the given message ID(s). The first call of this method transfers the message to the 'Delete' status. The second call transfers the deleted message to the 'Purged' status. If it is required to make the message 'Purged' immediately (from the first call), then set the query parameter purge to 'True'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: deleteMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      - description: If the value is 'True', then the message is purged immediately with all the attachments. The default value is 'False'
        in: query
        name: purge
        schema:
          type: boolean
      - description: Internal identifier of a message thread
        in: query
        name: conversationId
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Message(s) by ID
      tags:
      - Messages
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Public
    get:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual message record(s) by the given message ID(s). The length of inbound messages is unlimited. Batch request is supported, see Batch Requests for details.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: loadMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: Success
      summary: Get Message(s) by ID
      tags:
      - Messages
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Public
    put:
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Updates message(s) by ID(s). Batch request is supported, see Batch Requests for details. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: updateMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: Success
      summary: Update Message(s) by ID
      tags:
      - Messages
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      description: <p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: loadMessageAttachment
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: integer
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      - in: header
        name: Range
        schema:
          type: string
      responses:
        default:
          content: {}
          description: Success
      summary: Get Message Attachment
      tags:
      - Messages
      x-api-group: extension/message-store/content
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessageContent
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync:
    get:
      description: <p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Provides facilities to synchronize mailbox content stored externally with server state.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: syncMessages
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Conversation identifier for the resulting messages. Meaningful for SMS and Pager messages only.
        in: query
        name: conversationId
        schema:
          type: integer
      - description: The start datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          type: string
      - description: The end datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time
        in: query
        name: dateTo
        schema:
          type: string
      - description: Direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          enum:
          - Inbound
          - Outbound
          items:
            type: string
          type: array
        style: form
      - description: If 'True', then the latest messages per every conversation ID are returned
        in: query
        name: distinctConversations
        schema:
          type: boolean
      - description: Type for the resulting messages. If not specified, all types of messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: messageType
        schema:
          enum:
          - Fax
          - SMS
          - VoiceMail
          - Pager
          - Text
          items:
            type: string
          type: array
        style: form
      - description: Limits the number of records to be returned (works in combination with dateFrom and dateTo if specified)
        in: query
        name: recordCount
        schema:
          type: integer
      - description: Value of syncToken property of last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: Type of message synchronization
        explode: true
        in: query
        name: syncType
        schema:
          enum:
          - FSync
          - ISync
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageSyncResponse'
          description: Success
      summary: Get Message Sync
      tags:
      - Messages
      x-api-group: extension/message-sync
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout:
    post:
      deprecated: true
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: makeRingOutCall
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeRingOutRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponseIntId'
          description: Success
      summary: Make RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/direct:
    post:
      deprecated: true
      operationId: createDirectRingOut
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      - in: path
        name: extensionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RingOutResource'
        required: true
      responses:
        default:
          content: {}
          description: successful operation
      tags:
      - RingOut
      x-api-group: extension/ringout/direct
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: DirectRingOut
      x-access-level: Internal
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}:
    delete:
      deprecated: true
      description: <p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: cancelRingOutCall
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Cancel RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
    get:
      deprecated: true
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getRingOutCallStatus
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Get Status of RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out:
    post:
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: makeRingOutCallNew
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeRingOutRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Make RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/direct-ring-out:
    post:
      operationId: createDirectRingOutNew
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      - in: path
        name: extensionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RingOutResource'
        required: true
      responses:
        default:
          content: {}
          description: successful operation
      summary: Make Direct RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout/direct
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: DirectRingOut
      x-access-level: Internal
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}:
    delete:
      description: <p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: cancelRingOutCallNew
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Cancel RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
    get:
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getRingOutCallStatusNew
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Get Status of RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact:
    get:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: listContacts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: If specified, only contacts whose First name or Last name start with the mentioned substring are returned. Case-insensitive
        in: query
        name: startsWith
        schema:
          type: string
      - description: Sorts results by the specified property. The default is 'First Name'
        explode: true
        in: query
        name: sortBy
        schema:
          enum:
          - FirstName
          - LastName
          - Company
          items:
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default
        in: query
        name: perPage
        schema:
          type: integer
      - explode: true
        in: query
        name: phoneNumber
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
          description: Success
      summary: Get Contacts
      tags:
      - User Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Public
    post:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: createContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalContactResource'
        required: false
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: Success
      summary: Create Contact
      tags:
      - User Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}:
    delete:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: deleteContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Contact(s) by ID
      tags:
      - User Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Public
    get:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: loadContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: Success
      summary: Get Contact(s) by ID
      tags:
      - User Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Public
    put:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: updateContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalContactResource'
        required: false
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: Success
      summary: Update Contact(s) by ID
      tags:
      - User Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book-sync:
    get:
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>
      operationId: syncAddressBook
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Type of synchronization. The default value is 'FSync'
        explode: true
        in: query
        name: syncType
        schema:
          enum:
          - FSync
          - ISync
          items:
            type: string
          type: array
        style: form
      - description: Value of syncToken property of the last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: Number of records per page to be returned. The max number of records is 250, which is also the default. For FSync ??? if the number of records exceeds the parameter value (either specified or default), all of the pages can be retrieved in several requests. For ISync ??? if the number of records exceeds the page size, the number of incoming changes to this number is limited
        in: query
        name: perPage
        schema:
          type: integer
      - description: Internal identifier of a page. It can be obtained from the 'nextPageId' parameter passed in response body
        in: query
        name: pageId
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBookSync'
          description: Success
      summary: Address Book Synchronization
      tags:
      - User Contacts
      x-api-group: extension/address-book-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/favorite:
    get:
      operationId: contactFavorite
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      summary: Get Favorite Contacts
      tags:
      - User Contacts
      x-api-group: extension/favorite
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-user-permission: ReadPersonalContacts
      x-app-permission: ReadContacts
      x-access-level: Public
    put:
      operationId: createContacts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCollection'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      summary: Update Favorite Contacts
      tags:
      - User Contacts
      x-api-group: extension/favorite
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Public
  /restapi/v1.0/account/{accountId}/directory/contacts:
    get:
      description: '<p style=''font-style:italic;''></p><p>Returns contact information
        on corporate users of federated accounts. Please note: 1. User, DigitalUser,
        VirtualUser and FaxUser types are returned as User type. 2.ApplicationExtension
        type is not returned. 3. Only extensions in Enabled, Disabled and NotActivated
        state are returned.</p><h4>Required Permissions</h4><table class=''fullwidth''><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class=''code''>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>'
      operationId: listCompanyDirectoryContacts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          format: int64
          type: integer
      - description: 'Indicates the page size (number of items). The possible values
          are: Max, all or a numeric value. If not specified, all records are returned
          on one page'
        in: query
        name: perPage
        schema:
          format: int64
          type: integer
      - description: If 'True' then only contacts of current account are returned, if 'False' then all contacts of all federation accounts are returned
        in: query
        name: excludeFederatedContacts
        schema:
          type: boolean
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDirectoryContacts'
          description: Success
      summary: Get Company Directory
      tags:
      - Company Contacts
      x-api-group: directory/contacts
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: AddRemoveContacts
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/directory/contacts/{contactId}:
    get:
      description: <p style='font-style:italic;'></p><p>Returns contact information on a particular corporate user of a federated account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>
      operationId: loadCompanyDirectoryContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension
        in: path
        name: contactId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfo'
          description: Success
      summary: Get Company Directory Contact
      tags:
      - Company Contacts
      x-api-group: directory/contacts
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: AddRemoveContacts
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/directory/federation:
    get:
      description: <p style='font-style:italic;'></p><p>Returns information on a federation and associated accounts.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>
      operationId: loadCompanyDirectoryFederation
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationInfo'
          description: Success
      summary: Get Account Federation
      tags:
      - Company Contacts
      x-api-group: directory/federation
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: AddRemoveContacts
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/directory/federation-conflicts:
    get:
      description: <p style='font-style:italic;'></p><p>Returns the list of federation extensions which numbers are conflicting with extension numbers of the requested account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>
      operationId: loadCompanyDirectoryFederationConflicts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationConflicts'
          description: Success
      summary: Get Account Federation Conflicts
      tags:
      - Company Contacts
      x-api-group: directory/FederationConflicts
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: AddRemoveContacts
      x-access-level: Internal
  /restapi/v1.0/account/{accountId}/directory/extension-numbers:
    get:
      description: <p style='font-style:italic;'></p><p>Returns the list of account federation extensions.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>
      operationId: loadCompanyDirectoryExtensionNumbers
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationExtensionNumbers'
          description: Success
      summary: Get Existing Extension Numbers
      tags:
      - Company Contacts
      x-api-group: directory/extension-numbers
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: AddRemoveContacts
      x-access-level: Internal
  /restapi/v1.0/account/{accountId}/extension:
    get:
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>
      operationId: listExtensions
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'
        in: query
        name: page
        schema:
          format: int64
          type: integer
      - description: Indicates the page size (number of items). If not specified, the value is '100' by default.
        in: query
        name: perPage
        schema:
          format: int64
          type: integer
      - allowEmptyValue: true
        description: Extension current state. Multiple values are supported. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned
        explode: true
        in: query
        name: status
        schema:
          enum:
          - Enabled
          - Disabled
          - NotActivated
          - Unassigned
          items:
            type: string
          type: array
        style: form
      - allowEmptyValue: true
        description: Extension type. Multiple values are supported
        explode: true
        in: query
        name: type
        schema:
          enum:
          - User
          - FaxUser
          - VirtualUser
          - DigitalUser
          - Department
          - Announcement
          - Voicemail
          - SharedLinesGroup
          - PagingOnly
          - IvrMenu
          - ApplicationExtension
          - ParkLocation
          - Limited
          - Bot
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExtensionListResponse'
          description: Success
      summary: Get Extensions
      tags:
      - Company Contacts
      x-api-group: extension
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadExtensions
      x-access-level: Public
    post:
      description: <p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Creates an extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>
[...]
