{
  "swagger": "2.0",
  "info": {
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
  },
  "host": "api.ringcentral.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Overview",
      "description": " "
    },
    {
      "name": "OAuth 2.0 Authentication & Authorization",
      "description": " "
    },
    {
      "name": "API Info",
      "description": " "
    },
    {
      "name": "Call Log",
      "description": " "
    },
    {
      "name": "Phone Numbers",
      "description": " "
    },
    {
      "name": "Messages",
      "description": " "
    },
    {
      "name": "RingOut",
      "description": " "
    },
    {
      "name": "User Contacts",
      "description": " "
    },
    {
      "name": "Company Contacts",
      "description": " "
    },
    {
      "name": "Presence",
      "description": " "
    },
    {
      "name": "Glip",
      "description": " "
    },
    {
      "name": "Meetings",
      "description": " "
    },
    {
      "name": "Push Notifications",
      "description": " "
    },
    {
      "name": "Roles and Permissions",
      "description": " "
    },
    {
      "name": "Call Handling Settings",
      "description": " "
    },
    {
      "name": "Application Settings",
      "description": " "
    },
    {
      "name": "User Settings",
      "description": " "
    },
    {
      "name": "Company Settings",
      "description": " "
    },
    {
      "name": "Regional Settings",
      "description": " "
    },
    {
      "name": "Account Provisioning",
      "description": " "
    },
    {
      "name": "SCIM",
      "description": " "
    },
    {
      "name": "Reporting",
      "description": " "
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/restapi": {
      "get": {
        "tags": [
          "API Info"
        ],
        "summary": "Get API Versions",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetVersionsResponse"
            }
          }
        },
        "x-api-group": "restapi",
        "x-auth-required": false,
        "x-throttling-group": "NoThrottling",
        "x-metered-api": true,
        "x-metering-group": "Free",
        "x-access-level": "Public"
      }
    },
    "/restapi/{apiVersion}": {
      "get": {
        "tags": [
          "API Info"
        ],
        "summary": "Get Version Info",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersion",
            "in": "path",
            "description": "API version to be requested, for example 'v1.0'",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetVersionResponse"
            }
          }
        },
        "x-api-group": "restapi/version",
        "x-auth-required": false,
        "x-throttling-group": "NoThrottling",
        "x-metered-api": true,
        "x-metering-group": "Free",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/status": {
      "get": {
        "tags": [
          "API Info"
        ],
        "summary": "Get Status",
        "description": "<p style='font-style:italic;'>Since 1.0.27 (Release 8.3)</p><p>Returns the API status; status '200' means the API is working fine, and '503' means it is temporary unavailable.</p><h4>API Group</h4><p>Light</p>",
        "operationId": "loadAPIStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "restapi/status",
        "x-auth-required": false,
        "x-throttling-group": "NoThrottling",
        "x-metered-api": true,
        "x-metering-group": "Free",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Log Records by Filter",
        "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "loadExtensionCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionNumber",
            "in": "query",
            "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "showBlocked",
            "in": "query",
            "type": "boolean",
            "description": "If 'True' then calls from/to blocked numbers are returned. The default value is 'True'",
            "required": false
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Voice",
              "Fax"
            ]
          },
          {
            "name": "transport",
            "in": "query",
            "description": "Call transport type. 'PSTN' specifies that a call leg is initiated from the PSTN network provider; 'VoIP' - from an RC phone. By default this filter is disabled",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "PSTN",
              "VoIP"
            ]
          },
          {
            "name": "view",
            "in": "query",
            "description": "The default value is 'Simple' for both account and extension call log",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Simple",
              "Detailed"
            ]
          },
          {
            "name": "withRecording",
            "in": "query",
            "description": "'True' if only recorded calls have to be returned",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtensionCallLogResponse"
            }
          }
        },
        "x-api-group": "extension/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "Call Log"
        ],
        "summary": "Delete Call Log Records by Filter",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditCallLog</td><td>Viewing and updating user call logs</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "deleteExtensionCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for records deletion in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "extensionNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Voice",
                "Fax"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Inbound",
                "Outbound"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditCallLog",
        "x-user-permission": "EditCallLog",
        "x-access-level": "Advanced"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Call Log Synchronization",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "syncExtensionCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "syncType",
            "in": "query",
            "description": "Type of synchronization. 'FSync' is a default value",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "FSync",
              "ISync"
            ]
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Value of syncToken property of last sync request response",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is the current moment",
            "required": false,
            "type": "string"
          },
          {
            "name": "recordCount",
            "in": "query",
            "description": "ForT?FSync the parameter is mandatory, it limits the number of records to be returned in response. For ISync it specifies with how many records to extend sync Frame to the past, the maximum number of records is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "statusGroup",
            "in": "query",
            "description": "Type of calls to be returned. The default value is 'All'",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Missed",
              "All"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/call-log-sync",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Advanced"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Records by ID",
        "operationId": "getCallRecords",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "callRecordId",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Simple",
              "Detailed"
            ]
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserCallLogRecord"
            }
          }
        },
        "x-api-group": "extension/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get User Active Calls",
        "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "listExtensionActiveCalls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Voice",
              "Fax"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtensionActiveCallsResponse"
            }
          }
        },
        "x-api-group": "extension/active-calls",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/call-log": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Log Records by Filter",
        "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "loadAccountCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionNumber",
            "in": "query",
            "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Voice",
              "Fax"
            ]
          },
          {
            "name": "view",
            "in": "query",
            "description": "The default value is 'Simple' for both account and extension call log",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Simple",
              "Detailed"
            ]
          },
          {
            "name": "withRecording",
            "in": "query",
            "description": "'True' if only recorded calls have to be returned",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. The default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountCallLogResponse"
            }
          }
        },
        "x-api-group": "account/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "FullCompanyCallLog",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "Call Log"
        ],
        "summary": "Delete Call Log Records by Filter",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditCallLog</td><td>Viewing and updating user call logs</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "deleteAccountCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for records deletion in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "account/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditCallLog",
        "x-user-permission": "FullCompanyCallLog",
        "x-access-level": "Internal"
      }
    },
    "/restapi/v1.0/account/{accountId}/call-log-sync": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Call Log Synchronization",
        "operationId": "syncAccountCallLog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "syncType",
            "in": "query",
            "description": "Type of synchronization. 'FSync' is a default value",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "FSync",
              "ISync"
            ]
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Value of syncToken property of last sync request response",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is the current moment",
            "required": false,
            "type": "string"
          },
          {
            "name": "recordCount",
            "in": "query",
            "description": "ForT?FSync the parameter is mandatory, it limits the number of records to be returned in response. For ISync it specifies with how many records to extend sync Frame to the past, the maximum number of records is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "statusGroup",
            "in": "query",
            "description": "Type of calls to be returned. The default value is 'All'",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Missed",
              "All"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "account/call-log-sync",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Internal"
      }
    },
    "/restapi/v1.0/account/{accountId}/call-log/{callRecordId}": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Account Call Log Record(s) by ID",
        "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record(s) by ID(s). Batch request is supported, see Batch Requests for details.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "loadAccountCallLogRecord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "callRecordId",
            "in": "path",
            "description": "Internal identifier of a call log record",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAccountCallLogRecordResponse"
            }
          }
        },
        "x-api-group": "account/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "FullCompanyCallLog",
        "x-access-level": "Advanced"
      },
      "delete": {
        "tags": [
          "Call Log"
        ],
        "summary": "Delete Account Call Log Record(s) by ID",
        "operationId": "deleteAccountCallLogRecord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "callRecordId",
            "in": "path",
            "description": "Internal identifier of a call log record",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "account/call-log",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditCallLog",
        "x-user-permission": "FullCompanyCallLog"
      }
    },
    "/restapi/v1.0/account/{accountId}/active-calls": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get User Active Calls",
        "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all calls that are in progress, ordered by start time in descending order</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "listCompanyActiveCalls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Voice",
              "Fax"
            ]
          },
          {
            "name": "transport",
            "in": "query",
            "description": "Call transport type. 'PSTN' specifies that a call leg is initiated from the PSTN network provider; 'VoIP' - from an RC phone. By default this filter is disabled",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "PSTN",
              "VoIP"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtensionActiveCallsResponse"
            }
          }
        },
        "x-api-group": "company/active-calls",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallLog",
        "x-user-permission": "ReadCallLog",
        "x-access-level": "Advanced"
      }
    },
    "/restapi/v1.0/account/{accountId}/recording/{recordingId}": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Recordings",
        "description": "<p style='font-style:italic;'>Since 1.0.18 (Release 6.5)</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "listCallRecordings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "recordingId",
            "in": "path",
            "description": "Internal identifier of a recording (returned in Call Log)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCallRecordingResponse"
            }
          }
        },
        "x-api-group": "account/recordings",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallRecording",
        "x-user-permission": "ReadCallRecording",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/recording/{recordingId}/content": {
      "get": {
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Recordings Data",
        "description": "<p style='font-style:italic;'>Since 1.0.16 (Release 7.1)</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "listCallRecordingData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "recordingId",
            "in": "path",
            "description": "Internal identifier of a recording (returned in Call Log)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Binary"
            }
          }
        },
        "x-api-group": "account/recordings",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadCallRecording",
        "x-user-permission": "ReadCallRecording",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/phone-number": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get Extension Phone Number List",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers that are used by a particular extension, and can be filtered by the phone number type. The returned list contains all numbers which are directly mapped to a given extension plus the features and also company-level numbers which may be used when performing different operations on behalf of this extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "listExtensionPhoneNumbers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "usageType",
            "in": "query",
            "description": "Usage type of the phone number",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "MainCompanyNumber",
              "AdditionalCompanyNumber",
              "CompanyNumber",
              "DirectNumber",
              "CompanyFaxNumber",
              "ForwardedNumber"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetExtensionPhoneNumbersResponse"
            }
          }
        },
        "x-api-group": "extension/phone-number",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadAccounts",
        "x-user-permission": "ReadUserPhoneNumbers",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/sms": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create SMS Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message. Sending SMS messages simultaneously to different recipients is limited up to 50 requests per minute; relevant for all client applications.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "operationId": "sendSMS",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSMSMessage"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        },
        "x-api-group": "extension/sms",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "Messaging",
        "x-app-permission": "SMS",
        "x-user-permission": "OutboundSMS",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create Pager Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "operationId": "sendInternalMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePagerMessageRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        },
        "x-api-group": "extension/company-pager",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "Messaging",
        "x-app-permission": "InternalMessages",
        "x-user-permission": "InternalSMS",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/fax": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create Fax Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "multipart/mixed; boundary=Boundary_1_14413901_1361871080888"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account (integer) or tilde (~) to indicate the account which was logged-in within the current session.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension (integer) or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FaxResponse"
            }
          }
        },
        "x-api-group": "extension/fax",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "Faxes",
        "x-user-permission": "OutboundFaxes",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/dictionary/fax-cover-page": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Fax Cover Pages",
        "operationId": "getFaxCoverPages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-api-group": "dictionary/fax-cover-page",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message List",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "listMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Alive",
              "Deleted",
              "Purged"
            ]
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Specifies the conversation identifier for the resulting messages",
            "required": false,
            "type": "integer"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "distinctConversations",
            "in": "query",
            "description": "If 'True', then the latest messages per every conversation ID are returned",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Fax",
              "SMS",
              "VoiceMail",
              "Pager",
              "Text"
            ]
          },
          {
            "name": "readStatus",
            "in": "query",
            "description": "The read status for the resulting messages. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Read",
              "Unread"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "The phone number. If specified, messages are returned for this particular phone number only",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageList"
            }
          }
        },
        "x-api-group": "extension/message-store",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadMessages",
        "x-user-permission": "ReadMessages",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete Conversations by ID's",
        "operationId": "deleteMessagesByFilter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-api-group": "extension/message-store",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditMessages",
        "x-user-permission": "EditMessages",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message(s) by ID",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual message record(s) by the given message ID(s). The length of inbound messages is unlimited. Batch request is supported, see Batch Requests for details.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "loadMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        },
        "x-api-group": "extension/message-store",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadMessages",
        "x-user-permission": "ReadMessages",
        "x-access-level": "Public"
      },
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Update Message(s) by ID",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Updates message(s) by ID(s). Batch request is supported, see Batch Requests for details. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "operationId": "updateMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMessageRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        },
        "x-api-group": "extension/message-store",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditMessages",
        "x-user-permission": "EditMessages",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete Message(s) by ID",
        "description": "<p style='font-style:italic;'></p><p>Deletes message(s) by the given message ID(s). The first call of this method transfers the message to the 'Delete' status. The second call transfers the deleted message to the 'Purged' status. If it is required to make the message 'Purged' immediately (from the first call), then set the query parameter purge to 'True'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "operationId": "deleteMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true,
            "type": "integer"
          },
          {
            "name": "purge",
            "in": "query",
            "description": "If the value is 'True', then the message is purged immediately with all the attachments. The default value is 'False'",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Internal identifier of a message thread",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/message-store",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "EditMessages",
        "x-user-permission": "EditMessages",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Attachment",
        "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "operationId": "loadMessageAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Internal identifier of a message attachment",
            "required": true,
            "type": "integer"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Range",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/message-store/content",
        "x-throttling-group": "Medium",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadMessages",
        "x-user-permission": "ReadMessageContent",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Sync",
        "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Provides facilities to synchronize mailbox content stored externally with server state.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "syncMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation identifier for the resulting messages. Meaningful for SMS and Pager messages only.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
            "required": false,
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          {
            "name": "distinctConversations",
            "in": "query",
            "description": "If 'True', then the latest messages per every conversation ID are returned",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "Type for the resulting messages. If not specified, all types of messages are returned. Multiple values are accepted",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Fax",
              "SMS",
              "VoiceMail",
              "Pager",
              "Text"
            ]
          },
          {
            "name": "recordCount",
            "in": "query",
            "description": "Limits the number of records to be returned (works in combination with dateFrom and dateTo if specified)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Value of syncToken property of last sync request response",
            "required": false,
            "type": "string"
          },
          {
            "name": "syncType",
            "in": "query",
            "description": "Type of message synchronization",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "FSync",
              "ISync"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageSyncResponse"
            }
          }
        },
        "x-api-group": "extension/message-sync",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadMessages",
        "x-user-permission": "ReadMessages",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout": {
      "post": {
        "tags": [
          "RingOut"
        ],
        "summary": "Make RingOut Call",
        "deprecated": true,
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "makeRingOutCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MakeRingOutRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/direct": {
      "post": {
        "tags": [
          "RingOut"
        ],
        "deprecated": true,
        "operationId": "createDirectRingOut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RingOutResource"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-api-group": "extension/ringout/direct",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "DirectRingOut",
        "x-access-level": "Internal"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}": {
      "get": {
        "tags": [
          "RingOut"
        ],
        "deprecated": true,
        "summary": "Get Status of RingOut Call",
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "getRingOutCallStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "ringoutId",
            "in": "path",
            "description": "Internal identifier of a RingOut call",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "RingOut"
        ],
        "deprecated": true,
        "summary": "Cancel RingOut Call",
        "description": "<p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "cancelRingOutCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "ringoutId",
            "in": "path",
            "description": "Internal identifier of a RingOut call",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out": {
      "post": {
        "tags": [
          "RingOut"
        ],
        "summary": "Make RingOut Call",
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "makeRingOutCallNew",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MakeRingOutRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/direct-ring-out": {
      "post": {
        "tags": [
          "RingOut"
        ],
        "summary": "Make Direct RingOut Call",
        "operationId": "createDirectRingOutNew",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RingOutResource"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-api-group": "extension/ringout/direct",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "DirectRingOut",
        "x-access-level": "Internal"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}": {
      "get": {
        "tags": [
          "RingOut"
        ],
        "summary": "Get Status of RingOut Call",
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "operationId": "getRingOutCallStatusNew",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "ringoutId",
            "in": "path",
            "description": "Internal identifier of a RingOut call",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Light",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      },
      "delete": {
        "tags": [
          "RingOut"
        ],
        "summary": "Cancel RingOut Call",
        "description": "<p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "cancelRingOutCallNew",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "ringoutId",
            "in": "path",
            "description": "Internal identifier of a RingOut call",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Success"
          }
        },
        "x-api-group": "extension/ringout",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "Time-based",
        "x-app-permission": "RingOut",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact": {
      "get": {
        "tags": [
          "User Contacts"
        ],
        "summary": "Get Contacts",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "listContacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "startsWith",
            "in": "query",
            "description": "If specified, only contacts whose First name or Last name start with the mentioned substring are returned. Case-insensitive",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sorts results by the specified property. The default is 'First Name'",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "FirstName",
              "LastName",
              "Company"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false,
            "type": "integer"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false,
            "type": "integer"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContactList"
            }
          }
        },
        "x-api-group": "extension/address-book/contact",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "ReadContacts",
        "x-user-permission": "ReadPersonalContacts",
        "x-access-level": "Public"
      },
      "post": {
        "tags": [
          "User Contacts"
        ],
        "summary": "Create Contact",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "createContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PersonalContactResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PersonalContactResource"
            }
          }
        },
        "x-api-group": "extension/address-book/contact",
        "x-throttling-group": "Heavy",
        "x-metered-api": true,
        "x-metering-group": "System",
        "x-app-permission": "Contacts",
        "x-user-permission": "EditPersonalContacts",
        "x-access-level": "Public"
      }
    },
    "/restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}": {
      "get": {
        "tags": [
          "User Contacts"
        ],
        "summary": "Get Contact(s) by ID",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "operationId": "loadContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": true,
            "type": "string",
            "default": "~"
          },
          {
            "name": "extensionId",
            "in": "path",
[...]
