{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Agents"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents":{
          "get":{
             "tags":[
                "Agents"
             ],
             "summary":"Get Group Agents",
             "description":"Returns a listing of agents for an agent group",
             "operationId":"getAgents",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                    "name":"agentGroupId",
                    "in":"path",
                    "required":true,
                    "schema":{
                       "type":"string"
                    }
                 }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Agent"
                            }
                         }
                      }
                   }
                },
                "500":{
                    "description":"Server Error",
                    "content":{
                       "application/json":{
                          "schema":{
                             "$ref":"#/components/schemas/Error"
                          }
                       }
                    }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
        "Error":{
            "properties":{
                "generalMessage":{
                    "type":"string"
                 },
                 "details":{
                    "type":"string"
                 },
                 "requestUri":{
                    "type":"string"
                 },
                "timestamp":{
                   "type":"integer",
                   "format":"int64"
                }
             }
          }
       }
    }
 }