{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Campaigns"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/dialGroups/{dialGroupId}/campaigns":{
          "get":{
             "tags":[
               "Dial Groups"
             ],
             "operationId":"getCampaigns",
             "summary":"Get Campaigns",
             "description":"Returns a listing of campaigns for a dial group",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"dialGroupId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Campaign"
                            }
                         }
                      }
                   }
                }
             }
          }
       },
       "/admin/accounts/{accountId}/dialGroups/{dialGroupId}/campaigns/{campaignId}/clearCache":{
         "post":{
            "tags":[
              "Dial Groups"
            ],
            "operationId":"clearCampaignCache",
            "summary":"Clear Campaign Cache",
            "description":"lears the cache for a campaign\n\nPermissions: READ on Campaign (Permission Override)",
            "parameters":[
               {
                  "name":"accountId",
                  "in":"path",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  }
               },
               {
                  "name":"dialGroupId",
                  "in":"path",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  }
               },
               {
                  "name":"campaignId",
                  "in":"path",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  }
               }
            ],
            "requestBody":{
               "required":true,
               "description":"An `application/json` Content-Type header is required. Submit an empty body to trigger the header.",
               "content":{
                   "application/json":{
                       "schema":{
                           "type":"object"
                       }
                   }
               }
              },
            "responses":{
               "201":{
                  "description":"Created"
               }
            }
         }
      }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "Generic":{
             "properties":{
                "id":{
                   "type":"integer",
                   "format":"int64"
                },
                "description":{
                   "type":"string"
                }
             }
          },
          "Campaign":{
             "properties":{
                "campaignId":{
                   "type":"integer",
                   "format":"int64"
                },
                "permissions":{
                   "type":"array",
                   "items":{
                      "type":"object"
                   }
                },
                "campaignName":{
                   "type":"string"
                },
                "campaignDesc":{
                   "type":"string"
                },
                "isActive":{
                   "type":"integer",
                   "format":"int64"
                },
                "dialGroup":{
                  "$ref": "#/components/schemas/Generic"
                },
                "script":{
                   "$ref": "#/components/schemas/Generic"
                }
             }
          }
       }
    }
 }