{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Agents"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/agentGroups":{
          "get":{
             "tags":[
                "Agents"
             ],
             "summary":"Get Agent Groups",
             "description":"Returns a listing of agent groups for an account",
             "operationId":"getAgentGroups",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/AgentGroup"
                            }
                         }
                      }
                   }
                },
                "500":{
                    "description":"Server Error",
                    "content":{
                       "application/json":{
                          "schema":{
                             "$ref":"#/components/schemas/Error"
                          }
                       }
                    }
                }
             }
          }
       },
       "/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents":{
        "get":{
            "tags":[
               "Agents"
            ],
            "summary":"Returns a listing of agent groups for an account",
            "operationId":"getAgentGroups",
            "parameters":[
               {
                  "name":"accountId",
                  "in":"path",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"array",
                           "items":{
                              "$ref":"#/components/schemas/AgentGroup"
                           }
                        }
                     }
                  }
               },
               "500":{
                   "description":"Server Error",
                   "content":{
                      "application/json":{
                         "schema":{
                            "$ref":"#/components/schemas/Error"
                         }
                      }
                   }
               }
            }
         }


       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "security":[
       {
         "ApiKeyAuth": []
       }
    ],
    "components":{
       "securitySchemes":{
          "ApiKeyAuth":{
             "type":"apiKey",
             "in":"header",
             "name":"X-Auth-Token"
          }
       },
       "schemas":{
        "Error":{
           "type":"object",
            "properties":{
                "generalMessage":{
                    "type":"string"
                 },
                 "details":{
                    "type":"string"
                 },
                 "requestUri":{
                    "type":"string"
                 },
                "timestamp":{
                   "type":"integer",
                   "format":"int64"
                }
             }
          },
        
          "AgentGroup":{
            "type":"object",
            "description": "WIP: `permissions` is an array that needs definition",
             "properties":{
                "agentGroupId":{
                   "type":"integer",
                   "format":"int64"
                },
                "groupName":{
                   "type":"string"
                },
                "isDefault":{
                    "type":"boolean"
                 }
             }
          }
       }
    }
 }