{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Users"
       }
    ],
    "paths":{
       "/admin/users":{
          "get":{
             "tags":[
                "Users"
             ],
             "summary":"Get Users",
             "description":"Returns a listing of all users that a user has access to",
             "operationId":"getUsers",
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                        "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/User"
                            }
                         }
                      }
                   }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "User":{
            "type":"object",
            "description":"Children field is still needed",
             "required":["userId"],
             "properties":{
                "userId":{
                   "type":"integer",
                   "format":"int64"
                },
                "userName":{
                   "type":"string"
                },
                "firstName":{
                   "type":"string"
                },
                "lastName":{
                   "type":"string"
                },
                "enabled":{
                   "type":"boolean"
                },
                "parentPath":{
                   "type":"string"
                }
             }
          }
       }
    }
 }