{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Campaign Leads"
       }
    ],
    "paths":{
        "/admin/accounts/{accountId}/campaignLeads/leadSearch":{
            "post":{
               "tags":[
                  "Campaign Leads"
               ],
               "summary":"Search Leads",
               "description":"Allows searching of campaign leads for a single campaign\n\nPermissions: READ on Account (Permission Override)",
               "operationId":"searchLeads",
               "parameters":[
                  {
                     "name":"accountId",
                     "in":"path",
                     "required":true,
                     "schema":{
                        "type":"string"
                     }
                  },
                  {
                    "name":"count",
                    "in":"query",
                    "required":false,
                    "schema":{
                       "type":"integer"
                    }
                 },
                 {
                    "name":"page",
                    "in":"query",
                    "required":false,
                    "schema":{
                       "type":"integer"
                    }
                 },
                 {
                   "name":"maxRows",
                   "in":"query",
                   "required":false,
                   "schema":{
                      "type":"integer"
                   }
                }
               ],
               "requestBody":{
                "required":true,
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/CampaignLeadSearchCriteria"
                        }
                    }
                }
               },
               "responses":{
                  "200":{
                     "description":"Success",
                     "content":{
                        "application/json":{
                           "schema":{
                              "type":"array",
                              "items":{
                                 "$ref":"#/components/schemas/CampaignLeadSearchResultsView"
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
       "/admin/accounts/{accountId}/campaignLeads/leadStates":{
          "get":{
             "tags":[
                "Campaign Leads"
             ],
             "summary":"Get Lead States",
             "description":"Returns a listing of all lead states for an account\n\nPermissions: READ on Account",
             "operationId":"getLeadStates",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "type":"string"
                            }
                         }
                      }
                   }
                }
             }
          }
       },
       "/admin/accounts/{accountId}/campaignLeads/systemDispositions":{
         "get":{
            "tags":[
               "Campaign Leads"
            ],
            "summary":"Get Systems Dispositions",
            "description":"Returns a listing of all system dispositions for an account\n\nPermissions: READ on Account",
            "operationId":"getSystemDispositions",
            "parameters":[
               {
                  "name":"accountId",
                  "in":"path",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"array",
                           "items":{
                              "type":"string"
                           }
                        }
                     }
                  }
               }
            }
         }
      }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ]
 }