{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Countries"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/countries/available":{
          "get":{
             "tags":[
                "Countries"
             ],
             "summary":"Get Available Countries",
             "description":"Get a list of available countries",
             "operationId":"getAvailableCountries",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/Country"
                            }
                         }
                      }
                   }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "Country":{
             "type":"object",
             "required":["countryCode"],
             "properties":{
                "countryId":{
                   "type":"string",
                   "description":"Country code i ISO 3166-1 alpha-3 format"
                },
                "countryName":{
                   "type":"string"
                },
                "countryCode":{
                   "type":"string"
                },
                "minUtcOffset":{
                   "type":"integer",
                   "format":"int32"
                },
                "maxUtcOffset":{
                   "type":"integer",
                   "format":"int32"
                },
                "minAniLength":{
                   "type":"integer",
                   "format":"int32"
                },
                "maxAniLength":{
                   "type":"integer",
                   "format":"int32"
                }
             }
          }
       }
    }
 }