{
    "openapi":"3.0.0",
    "info":{
       "description":"",
       "version":"1.0",
       "title":"RingCentral Engage Voice API",
       "termsOfService":"https://developers.ringcentral.com"
    },
    "tags":[
       {
          "name":"Dial Groups"
       }
    ],
    "paths":{
       "/admin/accounts/{accountId}/dialGroups":{
          "get":{
             "tags":[
                "Dial Groups"
             ],
             "summary":"Get Dial Groups",
             "description":"Returns a listing of dial groups for an account",
             "operationId":"getDialGroups",
             "parameters":[
                {
                   "name":"accountId",
                   "in":"path",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Success",
                   "content":{
                      "application/json":{
                         "schema":{
                            "type":"array",
                            "items":{
                               "$ref":"#/components/schemas/DialGroup"
                            }
                         }
                      }
                   }
                }
             }
          }
       }
    },
    "servers":[
       {
          "url":"https://portal.vacd.biz/api/v1"
       }
    ],
    "components":{
       "securitySchemes":{
          "bearerAuth":{
             "type":"http",
             "scheme":"bearer"
          }
       },
       "schemas":{
          "DialGroup":{
             "type":"object",
             "properties":{
                "permissions":{
                   "type":"array",
                   "items":{
                      "type":"object"
                   }
                },
                "agentsReady":{
                  "type":"integer"
                },
                "billingKey":{"type":"string"},
                "dialGroupId":{
                   "type":"integer",
                   "format":"int64"
                },
                "dialGroupName":{
                   "type":"string"
                },
                "dialGroupDesc":{
                   "type":"string"
                },
                "dialMode":{
                   "type":"string",
                   "description":"Can be `PREDICTIVE`"
                },
                "isActive":{
                   "type":"boolean"
                },
                "enableAgentFilter":{
                  "type":"boolean"
                },
                "hciEnabled":{
                   "type":"string",
                   "description":"Can be `DISABLED`"
                },
                "maxPorts":{
                   "type":"integer"
                },
                "outdialServerGroupId":{"type":"integer"},
                "realTimeAgentData":{"type":"boolean"},
                "agentDialGroupMembers":{
                   "type":"object"
                }
             }
          }
       }
    }
 }